@import 'tailwindcss';

@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

  * {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .text-gradient {
    background: linear-gradient(
      135deg,
      #ff7dcd 0%,
      #e563ff 25%,
      #ac5eff 50%,
      #6f3aff 75%,
      #6195ff 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@theme {
  --color-gray-0: #ffffff;
  --color-gray-100: #f0f0f0;
  --color-gray-200: #e9e9e9;
  --color-gray-300: #d9d9d9;
  --color-gray-400: #a7a7a7;
  --color-black: #0a0a0a;
  --color-primary: #cfff50;
  --color-primary-gradient: linear-gradient(
    135deg,
    #ff7dcd 0%,
    #e563ff 25%,
    #ac5eff 50%,
    #6f3aff 75%,
    #6195ff 100%
  );
}
